<p>two-way-binding works!</p>
<div>
    <h1>Two Way Binding</h1>
    <h2>Enables data to flow from the component to the view and the other way round. It is used to display information to the end-user and allows them to make changes to the underlying data using the UI. If you change data in one place, it will automatically reflate at the other end.The syntax for two-way binding uses the [(ngModel)]</h2>
    <!-- Example of two-way binding -->
    <input [(ngModel)]="inputValue"><br>
    <!-- Two-way binding for a checkbox -->
    <input type="checkbox" [(ngModel)]="isChecked"> Is Checked? <br>
    <!-- Two-way binding for a select box -->
    <select [(ngModel)]="selectedOption"><br>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
    </select>
    
    </div>