<div>
    <h1>NgOnchanges()</h1>
    <h2>
        Certainly! The ngOnChanges is a lifecycle hook in Angular that is called whenever one or more input properties of a component change </h2>
   <h2>So  if in case of input from parent to child we use ngOnChanges to detect multiple changes in input</h2>
   <h2> Unlike input properties, there is no Angular lifecycle hook like ngOnChanges specifically designed for output properties. Instead, you handle output changes through event handling.</h2> 
   <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
  </div>